.item {
  width: 90%;
  height: auto;
  margin: 20px 0%;
  padding: 10px;
  border-radius: 5px;
  background: var(--color-fff);
  overflow: hidden;
}
.item .image-fav {
  position: relative;
  padding: 10px;
  transition: 0.35s all ease-in-out;
}
.favIcon {
  position: absolute;
  top: 18px;
  right: 18px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.favIcon:hover {
  transform: scale(1.2);
}
.item h6 {
  text-align: center;
  font-size: 10px;
  font-weight: 700;
  color: var(--color-ff4141);
  text-transform: capitalize;
}
.item p {
  margin: 10px 0px;
  max-height: 50px;
  overflow: hidden;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  color: #374152;
}
.item a {
  text-decoration: none;
}
.item a:hover {
  text-decoration: underline;
}
.item h5 {
  width: 100%;
  font-size: 14px;
  padding: 10px 0px;
  text-align: center;
  opacity: 0.5;
}
.item img {
  width: 100%;
  height: 70%;
  border-radius: 5px;
}
.item-prices {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  gap: 20px;
  margin: 10px 0px;
}
.item-price-old {
  color: #374152;
  font-size: 18px;
  font-weight: 600;
}
.item-price-new {
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 500;
  text-decoration: line-through;
}
.image-fav:hover {
  transform: scale(1.08);
}
.item .reviews {
  display: flex;
  justify-content: center;
  gap: 2px;
  margin-bottom: 10px;
}

@media (min-width: 640px) {
  .item {
    width: 45%;
    height: auto;
    margin: 0px 0% 20px 0px;
    padding: 10px;
    border-radius: 5px;
    background: var(--color-fff);
    transition: 0.35s all ease-in-out;
  }
}
@media (min-width: 768px) {
  .item {
    width: 29%;
    height: auto;
    padding: 10px;
    border-radius: 5px;
    background: var(--color-fff);
    transition: 0.35s all ease-in-out;
  }
}
@media (min-width: 1024px) {
  .item {
    width: 20%;
  }
}
@media (min-width: 1400px) {
  .item {
    width: 16%;
  }
}
