.newCollections {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: auto;
}
.newCollections h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}
.newCollections .line {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
  color: transparent;
}
.newCollections .collections {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 50px;
  gap: 30px;
}
