.offer-banner {
  height: 300px;
  display: flex;
  justify-content: center;
  padding: 0px 20px;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
}

/* LEFT SECTION */
.offer-banner .offer-left {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  line-height: 1.5;
}
.offer-banner .offer-left h2 {
  color: #090909;
  font-size: 16px;
  font-weight: 600;
}
.offer-banner .offer-left p {
  color: #171717;
  font-size: 28px;
  font-weight: 700;
}
.offer-banner .btn {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 12px 30px;
  border-radius: 75px;
  margin-top: 10px;
  background-color: var(--color-ff4141);
  color: var(--color-fff);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}
.offer-banner .btn:hover {
  background-color: var(--color-232f3e);
}

/* RIGHT SECTION */
.offer-banner .offer-right {
  align-items: center;
  justify-content: center;
}
.offer-banner .offer-right img {
  width: 100%;
  height: auto;
  transform: scale(1.2);
  transition: 0.4s all ease-in-out;
}

/* MEDIA QUERY */
@media (min-width: 640px) {
  .offer-banner {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
  }
  .offer-banner .offer-left {
    width: auto;
    gap: 20px;
    line-height: 1.5;
  }
  .offer-banner .offer-left h2 {
    font-size: 22px;
    font-weight: 600;
  }
  .offer-banner .offer-left P {
    font-size: 52px;
    font-weight: 700;
  }
  .offer-banner .btn {
    width: auto;
    gap: 15px;
    padding: 20px 50px;
    margin-top: 30px;
    background-color: var(--color-ff4141);
    color: var(--color-fff);
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .offer-banner {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    padding: 0px 80px;
  }
}
@media (min-width: 1024px) {
  .offer-banner {
    justify-content: space-around;
  }
}
@media (min-width: 1400px) {
  .hero {
    justify-content: space-around;
  }
  .offer-banner .offer-left {
    gap: 20px;
    line-height: 1.1;
  }
  .offer-banner .offer-left h2 {
    font-size: 28px;
    font-weight: 600;
  }
  .offer-banner .offer-left p {
    font-size: 72px;
    font-weight: 700;
    line-height: 1.5;
  }
  .offer-banner .btn {
    gap: 15px;
    padding: 20px 50px;
    margin-top: 30px;
    background-color: var(--color-ff4141);
    color: var(--color-fff);
    font-size: 18px;
  }
  .offer-banner .offer-right img {
    transform: scale(2.2);
  }
}
