.productDetails {
  display: flex;
  margin: 0px 170px 100px 170px;
}

.productDetails .productDetails-left {
  display: flex;
  gap: 17px;
}
.productDetails .productDetails-img-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.productDetails .productDetails-img-list img {
  height: 163px;
}
.productDetails .productDetails-main-img {
  height: 700px;
  width: 586px;
}

.productDetails .productDetails-right {
  margin: 0px 70px;
  display: flex;
  flex-direction: column;
}
.productDetails .productDetails-right h1 {
  color: #3d3d3d;
  font-size: 40px;
  font-weight: 700;
}
.productDetails .productDetails-right-stars {
  display: flex;
  align-items: center;
  margin-top: 13px;
  gap: 5px;
  color: #1c1c1c;
  font-size: 16px;
}
.productDetails .productDetails-right-prices {
  display: flex;
  margin: 40px 0px;
  gap: 30px;
  font-size: 24px;
  font-weight: 700;
}
.productDetails .productDetails-right-price-old {
  color: #818181;
  text-decoration: line-through;
}
.productDetails .productDetails-right-price-new {
  color: #ff4141;
}
.productDetails .productDetails-right-size h1 {
  margin-top: 55px;
  color: #656565;
  font-size: 20px;
  font-weight: 600;
}
.productDetails .productDetails-right-sizes {
  display: flex;
  margin: 30px 0px;
  gap: 20px;
}
.productDetails .productDetails-right-sizes div {
  padding: 18px 24px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
  border-radius: 3px;
  cursor: pointer;
}
.productDetails .productDetails-right button {
  padding: 20px 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #ff4141;
  margin-bottom: 20px;
  border: none;
  outline: none;
  cursor: pointer;
}
.productDetails .productDetails-right-category {
  margin-top: 10px;
}
.productDetails .productDetails-right-category span {
  font-weight: 600;
}
