.shop-category .shopcategory-banner {
  display: block;
  margin: 30px auto;
  width: 82%;
}

.shop-category .shopcategory-indexSort {
  display: flex;
  margin: 0px 170px;
  justify-content: space-between;
  align-items: center;
}

.shop-category .shopcategory-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
  cursor: pointer;
}
.shop-category .shopcategory-indexSort p span {
  font-weight: 600;
}

.shop-category .shopcategory-products {
  margin: 20px 80px 50px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 30px 0px;
}

.shop-category .shopcategory-loadmore {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  height: 69px;
  width: 233px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}
